@model IDGS901_tema1.Models.DistanciaDosPuntos

@{
    ViewBag.Title = "Resultados de la Distancia Entre Dos Puntos";
}

<h2>Resultados de la Distancia Entre Dos Puntos</h2>

<div class="result">
    <p>La distancia entre los puntos es: @Model.Resultado</p>
</div>
